[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openai = "*"
python-dotenv = "*"
gunicorn = "*"
django = "*"
requests = "*"
mysqlclient = "*"
locust = "*"

[dev-packages]

[requires]
python_version = "3.11"
